body {
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}
  
.sadaya {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}
  
#plang {
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
}
  
#baris-nav {
    color: white;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 90px;
    border-radius: 10px;
    margin: 5% 15% 0% 15%
}
  
#lebet_1 {
    padding-right: 50px;
}
  
#lebet_2 {
    padding-right: 50px;
}
  
#lebet_3 {
    padding-right: 50px;
}
  
.lebet-hiji {
    padding: 14px;
    text-align: justify;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(249, 230, 204);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    margin: 0% 15% 0% 15%
}

.poto {
    width: 200px;
    height: 210px;
    background-image: url(./img/eti.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 70%;
    border-radius: 50%;
    margin: 15px 0px 0px 800px;
}

.poto:hover {
    opacity: 100%;
}

.hal h2 {
    margin: -100px 0px 0px 50px;
}

.hal h3 {
    margin: 70px 0px 50px 0px;
}
  
.lebet-konten {
    padding: 12px;
    margin: -150px 0px 0px 50px;
    display: none;
    border-radius: 10px;
    text-align: justify;
    background-color:antiquewhite;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    margin: 0% 15% 0% 15%;
}

.lebet-konten h2 {
    text-align: center;
    box-shadow: 0px 10px 10px 0px rgb(12, 12, 12);
    border-radius: 25%;
    margin: 0px 400px 0px 400px;
}

.tugas a { 
    text-decoration: none;
    color: black;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.tugas h3 {
    background-color: antiquewhite;
    box-shadow: 0px 10px 10px 0px rgb(249, 218, 177);
    border-radius: 15%;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    background-color: rgb(247, 221, 186);
}

.lebet-konten2 {
    padding: 12px;
    margin-top: 10px;
    display: none;
    border-radius: 8px;
    text-align: justify;
    background-color: rgb(249, 230, 204);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    margin: 0% 15% 0% 15%
}
  
.kontak {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/b.jpg);
    background-size: cover;
}

.luhur {
    max-width: 800px;
    text-align: center;
}

.luhur h2 {
    font-size: 36px;
    font-weight: 500;
    color: antiquewhite;
}

.luhur p {
    font-size: 36px;
    font-weight: 300;
    color: antiquewhite;
}

.tengah {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.luhurinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.bok {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.serat{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: antiquewhite;
}
  
.aktif {
    border-radius: 25px;
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 8px 16px 0 slategrey;
}
  
