body {
  background-color: darkgrey;
}

.sadaya {
  width: 100%;
  max-width: 60rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#plang {
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
}

#baris-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 11px;
  border-radius: 8px;
}

.lebet-utami {
  padding: 14px;
  text-align: justify;
  margin-top: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.lebet-konten {
  padding: 12px;
  margin-top: 10px;
  display: none;
  border-radius: 8px;
  text-align: justify;
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.aktif {
  background-color: grey;
}

